
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="">
        <img src="../images/logo.png" alt="img13" style="width: 100px; height: 50px; color:black;" />

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-menu"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">

        <form class="search-wrap w-50">
            <i class="material-icons mt-1" style="position: absolute; left: 170px;">search</i>
            <input type="text" placeholder="지역, 식당 또는 음식" class="ml-5 rounded w-50  " style="padding-left: 30px;">

        </form>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-dark font-weight-bold" href="#" >EAT딜</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link text-dark font-weight-bold" href="#" >맛집리스트</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="#">망고 스토리</a>
            </li>
            <li> <i class="large material-icons md-48">account_circle</i>
            </li>
        </ul>
    </div>
</nav>