 .m-swiper-container {
        position: relative;
    }

    .swiper-button-prev {
        position: absolute;
        left: -80px;
    }

    .swiper-button-next {
        position: absolute;
        right: -80px;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0.5;
        visibility: visible;
    }

    .swiper-pagination {
        position: absolute;
        margin-top: 20px;
        /* margin-left: 550px; */
        left: 50%;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 5px;
        text-align: center;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }